body {
    background-color: #36393E;
}

.outer-container {
	width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.inner-container {
	width: 600px;
    height: 300px;
	
	position:absolute;
    left:0; right:0;
    top:0; bottom:0;
	margin:auto;
	
	max-width:100%;
	max-height:100%;
    overflow:auto;

    color: white;
}

.login-input {
    margin-top: 5px;
}