body {
    background-color: #1E2124;
    color: white;
    margin: 0px;
}

button {
    color: black;
}

.help-text {
    display: none;
}

.outer-container {
	width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.inner-container {
	width: 600px;
    height: 200px;
	
	position:absolute;
    left:0; right:0;
    top:0; bottom:0;
	margin:auto;
	
	max-width:100%;
	max-height:100%;
	overflow:auto;
}