body {
  color: white; }

.guild-button {
  border-radius: 10%;
  margin-bottom: 10px;
  margin-top: 5px;
  height: 60px;
  width: 60px;
  background-color: grey;
  margin-left: auto;
  margin-right: auto; }

.guild-image {
  border-radius: 10%;
  height: 60px;
  width: 60px; }

.container {
  margin: 0px;
  height: 100%;
  width: 100%;
  max-width: 100%; }

.titlebar {
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid black;
  position: relative;
  z-index: 10;
  color: white; }

.titlebar-column {
  background-color: #2F3136; }

#chat-panel {
  background-color: #36393E; }

#chat-messages {
  overflow-y: scroll;
  height: calc(100% - 90px); }

#chat-message-box {
  height: 50px; }

#chat-message-textarea {
  width: 100%;
  resize: none;
  border: 1px solid #1E2124;
  background-color: #484B52;
  color: whitesmoke;
  outline: none; }

#chat-messages-container {
  list-style: none; }

#chat-send-button {
  height: 35px;
  border-radius: 2px;
  margin-top: calc((50px / 2) - 17.5px); }

.app-row {
  height: calc(100% - 50px); }

.bgc1 {
  background-color: #2F3136; }

.bgc2 {
  background-color: #36393E; }

.bgc3 {
  background-color: #1E2124; }

.guild-button {
  height: 60px;
  width: 60px;
  margin-top: 5px;
  margin-bottom: 10px; }

.guild-icon {
  border-radius: 50%;
  height: 60px;
  width: 60px; }

.contacts-button {
  height: 60px;
  width: 60px;
  margin-top: 5px;
  margin-bottom: 10px; }

.contacts-icon {
  border-radius: 20%;
  height: 60px;
  width: 60px; }

.user-list {
  height: calc(100% - 50px - 250px);
  overflow-y: scroll; }

.activity-viewer-row {
  height: 200px; }

#guild-list {
  list-style: none; }

#guild-room-list {
  list-style: none; }

.user-message-list {
  list-style: none;
  padding: 0px; }

.user-message-box {
  width: 100%; }
  .user-message-box > .avatar-container {
    float: left; }
    .user-message-box > .avatar-container > img {
      height: 50px;
      width: 50px; }

/*# sourceMappingURL=style.css.map */
