body {
  color: white; }

.container {
  margin: 0px;
  height: 100%;
  width: 100%;
  max-width: 100%; }

.title-row {
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid black;
  position: relative;
  z-index: 10; }

.bg1 {
  background-color: #2F3136; }

.bg2 {
  background-color: #36393E; }

.bg3 {
  background-color: #1E2124; }

.content-tall-area {
  height: calc(100% - 140px); }

.content-tall-area-noaction {
  height: calc(100% - 50px); }

.scrollable {
  overflow-y: scroll; }

.action-row {
  border-top: 1px solid black;
  height: 90px;
  bottom: 0px;
  position: absolute;
  width: 100%; }

#chat-message-textarea {
  width: 100%;
  resize: none;
  height: 40px;
  border: 1px solid #1E2124;
  background-color: #484B52;
  color: whitesmoke;
  outline: none;
  margin-top: calc((90px / 2) - 20px); }

#chat-send-button {
  height: 35px;
  border-radius: 2px;
  margin-top: calc((90px / 2) - 17.5px); }

.user-message-list {
  list-style: none;
  padding: 0px; }

.user-message-box {
  width: 100%; }
  .user-message-box > .avatar-container {
    float: left; }
    .user-message-box > .avatar-container > img {
      height: 50px;
      width: 50px; }

.contacts-button {
  height: 60px;
  width: 60px;
  margin-top: 5px;
  margin-bottom: 10px; }

.contacts-icon {
  border-radius: 20%;
  height: 60px;
  width: 60px; }

.list-no-style {
  list-style: none; }

#activity-content-pane {
  margin-right: 0px;
  padding-right: 0px; }

#member-list {
  padding-left: 10px; }

#member-list-container {
  margin-top: 20px;
  height: calc(100% - 250px); }

.member-list-item {
  padding: 0px;
  margin-top: 5px; }
  .member-list-item .avatar {
    padding: 0px;
    margin: 0px;
    width: 10px; }
  .member-list-item .name {
    font-size: small; }
  .member-list-item .status {
    font-size: x-small; }

#status-control-settings {
  height: 50px; }

/*# sourceMappingURL=style.css.map */
