$container-width: 100%;
$title-bar-height: 50px;
$action-row-height: 90px;

$status-actions-height: 50px;

$canvas-height: 150px;

$colour-background1: #2F3136;
$colour-background2: #36393E;
$colour-background3: #1E2124;
$colour-selected: #484B52;

body{
    color: white;
}

.container{
    margin: 0px;
    height: 100%;
    width: $container-width;
    max-width: 100%;
}

.title-row{
    height: $title-bar-height;
    line-height: $title-bar-height;
    border-bottom: 1px solid black;
    position: relative;
    z-index: 10;
}

.bg1{
    background-color: $colour-background1;
}

.bg2{
    background-color: $colour-background2;
}
.bg3{
    background-color: $colour-background3;
}

.content-tall-area{
    height: calc(100% - #{$title-bar-height + $action-row-height});
}

.content-tall-area-noaction{
    height: calc(100% - #{$title-bar-height});
}

.scrollable {
    overflow-y: scroll;
}

.action-row{
    border-top: 1px solid black;
    height: $action-row-height;
    bottom: 0px; 
    position: absolute; 
    width: 100%
}


#chat-message-textarea{
    width: 100%; 
    resize: none; 
    height: 40px;
    border: 1px solid $colour-background3;
    background-color:$colour-selected;
    color: whitesmoke;
    outline: none;
    margin-top: calc((#{$action-row-height} / 2) - 20px); //Minus half this buttons height.
}

#chat-send-button{
    //width: 9%; 
    //float: right; 
    height: 35px;
    border-radius: 2px;
    margin-top: calc((#{$action-row-height} / 2) - 17.5px); //Minus half this buttons height.
}

.user-message-list{
    list-style: none;
    padding: 0px;
}

.user-message-box{
    width: 100%;
    >.avatar-container{
        float: left;
        >img{
            height: 50px;
            width: 50px;
        }
    }
}

.contacts-button{
    height: 60px;
    width: 60px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.contacts-icon{
    border-radius: 20%;
    height: 60px;
    width: 60px;
}

.list-no-style {
    list-style: none;
}

#activity-content-pane {
    margin-right: 0px;
    padding-right: 0px;
}

#member-list {
    padding-left: 10px;
}

#member-list-container {
    margin-top: 20px;
    height: calc(100% - #{$canvas-height + $title-bar-height + $status-actions-height})
}

.member-list-item {
    padding: 0px;
    margin-top: 5px;
    .avatar{
        padding: 0px;
        margin: 0px;
        width: 10px;
    }
    .name{
        font-size: small;
    }
    .status{
        font-size: x-small;
    }
}

#status-control-settings{
    height: $status-actions-height;
}