<link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="../css/typeahead.css">
<link rel="stylesheet" href="../css/popup.css">
<link rel="stylesheet" href="../node_modules/font-awesome/css/font-awesome.css">



<!-- Insert this line above script imports  -->
<script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>

<script src="../node_modules/jquery/dist/jquery.js"></script>
<script src="../node_modules/typeahead.js/dist/typeahead.bundle.js"></script> 

<!-- Insert this line after script imports -->
<script>if (window.module) module = window.module;</script>


<div class="outer-container">
    <div class="inner-container">
        <center>
            <span style="font-size: 25">Open a topic <i class="fa fa-question-circle help-button" aria-hidden="true"></i></span>
            <br>
            <p class="help-text">
                Start typing to search through topics you are a member of
            </p>
            <br>
            <div id="auto-complete" style="color: black;">
                <input type="text" class="tt-input" id="searchTopicField" placeholder="Search for topics..." autofocus/>
            </div>
            <!-- <button style="margin-top: 20px;" id="go-button">Go!</button> -->
        </center>
     </div>
</div>
<style>
    .tt-cursor{
        background-color:lightblue;
    }


</style>
<script>
        function setupTypeahead(){    
            console.log("Setting up typeahead...")
            var topic_source = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer:  Bloodhound.tokenizers.whitespace,
                local: my_topics
            });
    
            $('#auto-complete #searchTopicField').typeahead({
                    hint: true,
                    highlight: true,
                    minLength: 1
                },
                {
                    name: 'topics',
                    displayKey:"name",
                    source: topic_source,
                    templates: {
                        suggestion: function(topic) {
                            return '<p><strong>' + topic.name + '</strong> – ' + topic.group.name + '</p>';
                        }
                    }
                }).on('typeahead:selected', function(event, topic){            
                    console.log(topic.id); 
                    ipcRenderer.send("open_guild_topic", topic.id);
                    window.close();    
                });
        }
    
</script>

<script>
    //Get object for inter process communication
    var {ipcRenderer, shell} = require('electron');  
    var me = {};
    var my_topics = [];
    ipcRenderer.send("get_topics");
    
    ipcRenderer.on("get_topics_response", (event, topics) => {
        my_topics = topics;
        console.log(JSON.stringify(topics));
        setupTypeahead();
    });
</script>



<script>
    //Keypress event Listener. (Listen for escape key)
    window.addEventListener('keydown', (e) => {
        if(e.keyCode == 27){
            window.close();
        }
    }, true);

    $(".help-button").click((e) => {
        e.preventDefault();
        $(".help-text").toggle();
    });
</script>