<link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="../css/typeahead.css">
<link rel="stylesheet" href="../css/popup.css">
<link rel="stylesheet" href="../node_modules/font-awesome/css/font-awesome.css">



<!-- Insert this line above script imports  -->
<script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>

<script src="../node_modules/jquery/dist/jquery.js"></script>
<script src="../node_modules/typeahead.js/dist/typeahead.bundle.js"></script> 

<!-- Insert this line after script imports -->
<script>if (window.module) module = window.module;</script>


<div class="outer-container">
    <div class="inner-container">
        <center>
            <span style="font-size: 25">Join a Group <i class="fa fa-question-circle help-button" aria-hidden="true"></i></span>
            <br>
            <p class="help-text">
                Search for a group to join, when you have one, select it and click join to become a member
            </p>
            <br>
            <div id="auto-complete" style="color: black;">
                <input type="text" class="tt-input" id="searchTopicField" placeholder="Search for groups..." autofocus/>
            </div>
            <!-- <button style="margin-top: 20px;" id="go-button">Go!</button> -->
        </center>
     </div>
</div>
<style>
    .tt-cursor{
        background-color:lightblue;
    }


</style>
<script>

        function setupTypeahead(){    
            console.log("Setting up typeahead...")
            var topic_source = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer:  Bloodhound.tokenizers.whitespace,
                local: all_groups
            });
    
            $('#auto-complete #searchTopicField').typeahead({
                    hint: true,
                    highlight: true,
                    minLength: 1
                },
                {
                    name: 'groups',
                    displayKey:"name",
                    source: topic_source,
                    templates: {
                        suggestion: function(group) {
                            return '<p><strong>' + group.name + '</strong></p>';
                        }
                    }
                }).on('typeahead:selected', function(event, group){            
                    console.log(group.id); 
                    ipcRenderer.send("join_group", group.id);
                    window.close();    
                });
        }
    
</script>

<script>
    //Get object for inter process communication
    var {ipcRenderer, shell} = require('electron');  
    var me = {};
    var all_groups = [];
    ipcRenderer.send("get_all_guilds");
    
    ipcRenderer.on("get_all_guilds_response", (event, groups) => {
        all_groups = groups;
        console.log(JSON.stringify(groups));
        setupTypeahead();
    });
</script>



<script>
    //Keypress event Listener. (Listen for escape key)
    window.addEventListener('keydown', (e) => {
        if(e.keyCode == 27){
            window.close();
        }
    }, true);

    $(".help-button").click((e) => {
        e.preventDefault();
        $(".help-text").toggle();
    });
</script>