<link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="../node_modules/bootstrap-tagsinput/dist/bootstrap-tagsinput.css">
<link rel="stylesheet" href="../node_modules/font-awesome/css/font-awesome.css">
<link rel="stylesheet" href="../css/typeahead.css">
<link rel="stylesheet" href="../css/popup.css">


<!-- Insert this line above script imports  -->
<script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>

<script src="../node_modules/jquery/dist/jquery.js"></script>
<script src="../node_modules/bootstrap-tagsinput/dist/bootstrap-tagsinput.js"></script>
<script src="../node_modules/typeahead.js/dist/typeahead.bundle.js"></script>
<script src="../js/popup-common.js"></script>

<!-- Insert this line after script imports -->
<script>if (window.module) module = window.module;</script>

<style>
    .tt-cursor{
        background-color:lightblue;
    }

    .tt-input, /* UPDATE: newer versions use tt-input instead of tt-query */
    .tt-hint {
        width: 396px;
        height: 30px;
        padding: 8px 12px;
        font-size: 24px;
        line-height: 30px;
        border: 2px solid #ccc;
        border-radius: 8px;
        outline: none;
    }

    .tt-input { /* UPDATE: newer versions use tt-input instead of tt-query */
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    }

    .tt-hint {
        color: #999;
    }

    .tt-menu { /* UPDATE: newer versions use tt-menu instead of tt-dropdown-menu */
        width: 422px;
        margin-top: 12px;
        padding: 8px 0;
        background-color: #fff;
        color: black;
        border: 1px solid #ccc;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        box-shadow: 0 5px 10px rgba(0,0,0,.2);
    }

    .tt-suggestion {
        padding: 3px 20px;
        font-size: 18px;
        line-height: 24px;
    }

    .tt-suggestion.tt-cursor { /* UPDATE: newer versions use .tt-suggestion.tt-cursor */
        color: #fff;
        background-color: #0097cf;

    }

    .tt-suggestion p {
        margin: 0;
    }


</style>

<div class="outer-container">
    <div class="inner-container" style="height: 500px; width: 1000px; margin-top: 80px;">
        <center>
            <span style="font-size: 25">Set Status <i class="fa fa-question-circle help-button" aria-hidden="true"></i></span>
            <br>
            <p id="help" class="help-text">
                To set your status, add tags in order of detail. <br>
                For instance, "Working" <br>
                You can add as many tags as you like!
                <br>
                You can also set the group/topic that you want to be shown as online in.
            </p>
            <br>
            <span class="error-message" style="display: none;"></span>
            <input type="text" id="newStatusField" multiple placeholder="Type Status" autofocus></input><br>
            <div style="margin-top: 20px;">
                <span><span style="font-size: 18pt;">Group</span> - (optional)</span> <br>
                <input type="text" class="tt-input" id="searchGroupField" placeholder="Search for groups..." style="color: black;" /><br>
            </div>
            <div style="margin-top: 20px;">
                <span><span style="font-size: 18pt;">Topic</span> - (optional)</span> <br>
                <input type="text" class="tt-input" id="searchTopicField" placeholder="Search for topics..." style="color: black;" />
            </div>
            </br>
            <button id="updateStatusButton" style="margin-top: 20px;">Update Status</button>
        </center>
    </div>
</div>


<script>
    //Handler for updateStatusButton click
    jQuery("#updateStatusButton").click((e) => {
        var newStatusTags = $("#newStatusField").val();
        var newStatus = {
            status: newStatusTags,
            mood: ""
        }

        if(selected_group != undefined && selected_group != null){
            newStatus.groupid = selected_group;
        }

        if(selected_topic != undefined && selected_topic != null){
            newStatus.topicid = selected_topic;
        }

        ipcRenderer.send("set_status", newStatus, true);
        console.log("Status update sent to ipcRenderer");
    });

    
</script>

<script>
        //Get object for inter process communication
        var {ipcRenderer, shell} = require('electron');  
        var my_topics = [];
        var my_groups = [];
        var selected_topic = null;
        var selected_group = null;
        var me = null;

        ipcRenderer.send("get_set_status_screen_details");
        console.log("Sent request for data!");
        
        ipcRenderer.on("get_set_status_screen_details_response", (event, data) => {
            my_topics = data.topics;
            my_groups = data.groups;
            me = data.me;
            console.log(data);
            setupTagsField();
        });

        ipcRenderer.on("set_status_successful", (event) => {
            console.log("Status updated successfully!");
            window.close();
        });

        ipcRenderer.on("set_status_failed", (event) => {
            console.log("Status update failed!");
            $(".error-message").html("Failed to update status");
            $(".error-message").show();
        });
    </script>

<script>
    function setupTagsField(){

        console.log("Setting up tags field!");
        var topic_source = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
            queryTokenizer:  Bloodhound.tokenizers.whitespace,
            local: my_topics
        });
        topic_source.initialize();

        var group_source = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
            queryTokenizer:  Bloodhound.tokenizers.whitespace,
            local: my_groups
        });
        group_source.initialize();

        $("#newStatusField").tagsinput({});

        $('#searchTopicField').typeahead(
            {
                hint: true,
                highlight: true,
                minLength: 1
            },
            {
                name: 'topics',
                displayKey:"name",
                source: topic_source,
                templates: {
                    suggestion: function(topic) {
                        return '<p><strong>' + topic.name + '</strong> – ' + topic.group.name + '</p>';
                    }
                }
            }
        ).on('typeahead:selected', function(event, topic){            
            selected_topic = topic.id;   
        });

        $('#searchGroupField').typeahead(
            {
                hint: true,
                highlight: true,
                minLength: 1
            },
            {
                name: 'groups',
                displayKey:"name",
                source: group_source,
                templates: {
                    suggestion: function(group) {
                        return '<p><strong>' + group.name + '</strong></p>';
                    }
                }
            }
        ).on('typeahead:selected', function(event, group){            
            selected_group = group.id; 
        });

        //TODO... Set the fields to be the current status.
        if(me != undefined && me != null){
            console.log(me);    
        }

    }
</script>

<script>
    //Listen for ESCAPE button press
    window.addEventListener('keydown', (e) => {
        if(e.keyCode == 27){
            window.close();
        }
    }, true);

    $(".help-button").click((e) => {
        e.preventDefault();
        $(".help-text").toggle();
    });
</script>